In [1]:
# Dependencies
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

In [2]:
forest_data_to_load = (r"C:\Users\lecha\Desktop\Forrest_Project\forest_fips.csv")
forest_fips = pd.read_csv(forest_data_to_load)
forest_fips.head(30)

,Unnamed: 0,Unnamed: 0.1,State,County,Mapping Zones,Impervious Cover %,Impervious Cover (m2/person),Tree Canopy Cover %,Tree Canopy Cover (m2/person),Total Green Space (ha),Canopy Green Space %,Available Green Space (ha),FIPS
0,0,3,AL,Autauga,46,0.008595,303.464542,0.567194,20026.332900,152866.9952,0.572112,65410.2016,1001
1,1,4,AL,Baldwin,46,0.012084,356.483994,0.575551,16979.382540,409233.9968,0.582591,170818.9952,1003
2,2,5,AL,Barbour,46,0.005891,462.955438,0.605966,47623.458360,226867.9936,0.609557,88579.0016,1005
3,3,6,AL,Bibb,48,0.003383,261.489004,0.715375,55289.060980,160413.0048,0.717803,45268.0000,1007
4,4,7,AL,Blount,48,0.008458,276.601207,0.429399,14043.195990,165458.9952,0.433062,93804.9024,1009
5,5,8,AL,Bullock,46,0.003735,510.851118,0.593771,81207.531500,159608.9984,0.595997,64482.5024,1011
6,6,9,AL,Butler,46,0.004589,430.291135,0.685871,64305.342120,199710.0032,0.689034,62103.3984,1013
7,7,10,AL,Calhoun,48,0.024129,338.081408,0.536867,7522.116152,153479.0016,0.550140,69043.8016,1015
8,8,11,AL,Chambers,54,0.008545,359.770932,0.563060,23706.229450,152707.9936,0.567911,65983.3024,1017
9,9,12,AL,Cherokee,48,0.008367,503.093213,0.476929,28677.381360,143031.0016,0.480954,74239.8976,1019
10,10,13,AL,Chilton,46,0.007671,347.324022,0.604800,27382.870310,177886.0032,0.609475,69469.9008,1021
11,11,14,AL,Choctaw,46,0.002503,371.156262,0.740955,109881.922400,235529.0112,0.742813,60574.2976,1023
12,12,15,AL,Clarke,46,0.002884,331.570316,0.789743,90787.308290,319428.9920,0.792029,66432.6976,1025
13,13,16,AL,Clay,54,0.002057,225.835555,0.739905,81245.966040,156194.9952,0.741432,40388.3008,1027
14,14,17,AL,Cleburne,54,0.004677,479.573037,0.682773,70007.081780,144130.9952,0.685980,45260.9984,1029
15,15,18,AL,Coffee,46,0.008298,332.541557,0.547494,21939.447990,173326.0032,0.552075,77637.1008,1031
16,16,19,AL,Colbert,48,0.017004,474.899971,0.431019,12037.774480,150952.0000,0.438474,84763.0976,1033
17,17,20,AL,Conecuh,46,0.003030,473.275605,0.678391,105948.613500,219370.0096,0.680453,70098.8032,1035
18,18,21,AL,Coosa,54,0.002196,303.655139,0.753011,104104.240000,168322.9952,0.754668,41297.9008,1037
19,19,22,AL,Covington,46,0.006583,467.447052,0.597407,42422.205520,265460.9920,0.601365,105822.0032,1039
20,20,23,AL,Crenshaw,46,0.004040,465.077936,0.653812,75264.543290,156671.0016,0.656465,53821.7024,1041
21,21,24,AL,Cullman,48,0.016467,406.637585,0.338249,8352.799969,188188.0064,0.343911,123468.0064,1043
22,22,25,AL,Dale,46,0.014096,415.719840,0.557508,16442.406240,142851.9936,0.565480,62072.4992,1045
23,23,26,AL,Dallas,46,0.007399,400.785075,0.552698,29939.179290,249296.9984,0.556818,110483.9936,1047
24,24,28,AL,Elmore,46,0.007996,194.738440,0.590124,14372.544920,159153.9968,0.594881,64477.4976,1051
25,25,29,AL,Escambia,46,0.006402,408.506764,0.571396,36458.635590,243700.9920,0.575078,103553.9968,1053
26,26,30,AL,Etowah,48,0.030810,413.334751,0.444802,5967.213911,134519.0016,0.458940,72782.4000,1055
27,27,31,AL,Fayette,46,0.004110,361.069478,0.686530,60310.354150,161807.0016,0.689364,50263.8016,1057
28,28,32,AL,Franklin,46,0.008512,447.522660,0.486890,25597.540270,162752.9984,0.491071,82830.2016,1059
29,29,33,AL,Geneva,46,0.006043,348.051545,0.391623,22555.774570,147493.0048,0.394003,89380.0000,1061

In [9]:
health_data_to_load = (r"C:\Users\lecha\Desktop\Forrest_Project\Health_Data_CSV.csv")

health_data = pd.read_csv(health_data_to_load)

len(health_data.columns)

health_data.columns

Index(['FIPS', 'State', 'County', '# Unemployed', 'Labor Force',
       '% Unemployed', 'Quartile', '#Social  Associations', 'Association Rate',
       'Quartile.1', 'Life Expectancy', '% Frequent Physical Distress',
       '% Frequent Mental Distress', '# Food Insecure', '% Food Insecure',
       '# Drug Overdose Deaths', 'Drug Overdose Mortality Rate',
       'Household Income', '# Homeowners', '% Homeowners',
       '# Households with Severe Cost Burden', '% Severe Housing Cost Burden',
       'Population', '% < 18', '% 65 and over'],
      dtype='object')

In [10]:
select_health = pd.DataFrame(health_data,columns=['FIPS',  'State',  'County',"Drug Overdose Mortality Rate","% Severe Housing Cost Burden",
                                           "% Some College","Violent Crime Rate", "% Homeowners", "% Frequent Mental Distress"])

In [6]:
select_health.head(15)

,FIPS,State,County,Drug Overdose Mortality Rate,% Severe Housing Cost Burden,% Some College,Violent Crime Rate,% Homeowners,% Frequent Mental Distress
0,1001,Alabama,Autauga,10.0,13.0,NaN,NaN,73,13
1,1003,Alabama,Baldwin,16.0,13.0,NaN,NaN,73,13
2,1005,Alabama,Barbour,NaN,14.0,NaN,NaN,63,15
3,1007,Alabama,Bibb,22.0,9.0,NaN,NaN,75,13
4,1009,Alabama,Blount,25.0,8.0,NaN,NaN,79,14
5,1011,Alabama,Bullock,NaN,19.0,NaN,NaN,70,15
6,1013,Alabama,Butler,NaN,11.0,NaN,NaN,70,15
7,1015,Alabama,Calhoun,19.0,12.0,NaN,NaN,69,14
8,1017,Alabama,Chambers,NaN,13.0,NaN,NaN,66,15
9,1019,Alabama,Cherokee,14.0,10.0,NaN,NaN,78,14
10,1021,Alabama,Chilton,12.0,12.0,NaN,NaN,75,14
11,1023,Alabama,Choctaw,NaN,9.0,NaN,NaN,80,14
12,1025,Alabama,Clarke,NaN,13.0,NaN,NaN,66,15
13,1027,Alabama,Clay,NaN,9.0,NaN,NaN,76,14
14,1029,Alabama,Cleburne,NaN,12.0,NaN,NaN,74,14