In [2]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Save path to data set in a variable
data_file = "Resources/county_data2017.csv"

In [4]:
# Use Pandas to read data
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [5]:
# Display a statistical overview of the DataFrame
data_file_df.describe()

,CountyId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31393.605280,1.007681e+05,4.958781e+04,5.118032e+04,11.296584,74.920186,8.681957,1.768416,1.289379,0.083416,...,3.244472,1.598696,4.736894,23.474534,4.709295e+04,74.863323,17.086118,7.772733,0.278820,6.665590
std,16292.078954,3.244996e+05,1.593212e+05,1.652164e+05,19.342522,23.056700,14.333571,7.422946,2.716191,0.709277,...,3.891510,1.678232,3.073484,5.687241,1.558159e+05,7.647916,6.390868,3.855454,0.448073,3.772612
min,1001.000000,7.400000e+01,3.900000e+01,3.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.100000,3.900000e+01,31.100000,4.400000,0.000000,0.000000,0.000000
25%,19032.500000,1.121350e+04,5.645500e+03,5.553500e+03,2.100000,63.500000,0.600000,0.100000,0.200000,0.000000,...,1.400000,0.800000,2.900000,19.600000,4.573000e+03,71.200000,12.700000,5.200000,0.100000,4.475000
50%,30024.000000,2.584750e+04,1.287900e+04,1.299350e+04,4.100000,83.600000,2.000000,0.300000,0.600000,0.000000,...,2.300000,1.300000,4.100000,23.200000,1.061150e+04,76.100000,15.900000,6.800000,0.200000,6.100000
75%,46105.500000,6.660825e+04,3.301725e+04,3.359375e+04,10.000000,92.800000,9.500000,0.600000,1.200000,0.100000,...,3.825000,1.900000,5.800000,27.000000,2.874725e+04,80.200000,19.900000,9.200000,0.300000,8.000000
max,72153.000000,1.010572e+07,4.979641e+06,5.126081e+06,100.000000,100.000000,86.900000,90.300000,41.800000,33.700000,...,59.200000,43.200000,33.000000,45.100000,4.805817e+06,88.800000,64.800000,38.000000,8.000000,40.900000

In [6]:
# Reference multiple columns within a DataFrame
new_data_df=data_file_df[["State", "County","Income"]]
new_data_df

            State                   County  Income
0         Alabama           Autauga County   55317
1         Alabama           Baldwin County   52562
2         Alabama           Barbour County   33368
3         Alabama              Bibb County   43404
4         Alabama            Blount County   47412
5         Alabama           Bullock County   29655
6         Alabama            Butler County   36326
7         Alabama           Calhoun County   43686
8         Alabama          Chambers County   37342
9         Alabama          Cherokee County   40041
10        Alabama           Chilton County   43501
11        Alabama           Choctaw County   32122
12        Alabama            Clarke County   33827
13        Alabama              Clay County   37287
14        Alabama          Cleburne County   37396
15        Alabama            Coffee County   49821
16        Alabama           Colbert County   45477
17        Alabama           Conecuh County   30434
18        Alabama             Coosa County   34792
19        Alabama         Covington County   39467
20        Alabama          Crenshaw County   38937
21        Alabama           Cullman County   40997
22        Alabama              Dale County   44711
23        Alabama            Dallas County   30065
24        Alabama            DeKalb County   38842
25        Alabama            Elmore County   54981
26        Alabama          Escambia County   35026
27        Alabama            Etowah County   42064
28        Alabama           Fayette County   36541
29        Alabama          Franklin County   39501
...           ...                      ...     ...
3190  Puerto Rico        Maunabo Municipio   17636
3191  Puerto Rico       Mayagüez Municipio   14642
3192  Puerto Rico           Moca Municipio   13413
3193  Puerto Rico        Morovis Municipio   18739
3194  Puerto Rico        Naguabo Municipio   18976
3195  Puerto Rico      Naranjito Municipio   18069
3196  Puerto Rico       Orocovis Municipio   14296
3197  Puerto Rico       Patillas Municipio   14512
3198  Puerto Rico       Peñuelas Municipio   16868
3199  Puerto Rico          Ponce Municipio   16561
3200  Puerto Rico   Quebradillas Municipio   16082
3201  Puerto Rico         Rincón Municipio   18292
3202  Puerto Rico     Río Grande Municipio   22584
3203  Puerto Rico  Sabana Grande Municipio   15736
3204  Puerto Rico        Salinas Municipio   16246
3205  Puerto Rico     San Germán Municipio   15036
3206  Puerto Rico       San Juan Municipio   21677
3207  Puerto Rico    San Lorenzo Municipio   18589
3208  Puerto Rico  San Sebastián Municipio   14275
3209  Puerto Rico   Santa Isabel Municipio   16816
3210  Puerto Rico       Toa Alta Municipio   29672
3211  Puerto Rico       Toa Baja Municipio   24583
3212  Puerto Rico  Trujillo Alto Municipio   31202
3213  Puerto Rico         Utuado Municipio   15931
3214  Puerto Rico      Vega Alta Municipio   18053
3215  Puerto Rico      Vega Baja Municipio   18900
3216  Puerto Rico        Vieques Municipio   16261
3217  Puerto Rico       Villalba Municipio   19893
3218  Puerto Rico        Yabucoa Municipio   15586
3219  Puerto Rico          Yauco Municipio   14451

[3220 rows x 3 columns]

In [17]:
new_data_df.to_csv("Output/2017_newdata.csv", index=True, header=True)

In [20]:
new_data_df['County'].unique()

array(['Autauga County', 'Baldwin County', 'Barbour County', ...,
       'Villalba Municipio', 'Yabucoa Municipio', 'Yauco Municipio'],
      dtype=object)

In [21]:
round(new_data_df.groupby('County')['Income'].mean(),2)

County
Abbeville County              35254.00
Acadia Parish                 40492.00
Accomack County               42260.00
Ada County                    60151.00
Adair County                  39542.00
Adams County                  48433.17
Addison County                61875.00
Adjuntas Municipio            11680.00
Aguada Municipio              16199.00
Aguadilla Municipio           16821.00
Aguas Buenas Municipio        16733.00
Aibonito Municipio            18387.00
Aiken County                  47713.00
Aitkin County                 45860.00
Alachua County                45478.00
Alamance County               44281.00
Alameda County                85743.00
Alamosa County                36315.00
Albany County                 54054.50
Albemarle County              72265.00
Alcona County                 39424.00
Alcorn County                 38919.00
Aleutians East Borough        66607.00
Aleutians West Census Area    85192.00
Alexander County              37768.50
Alexandria city               93370.00
Alfalfa County                57432.00
Alger County                  42647.00
Allamakee County              47895.00
Allegan County                58487.00
                                ...
Wright County                 52726.00
Wyandot County                49767.00
Wyandotte County              42783.00
Wyoming County                49689.33
Wythe County                  46119.00
Yabucoa Municipio             15586.00
Yadkin County                 41126.00
Yakima County                 47470.00
Yakutat City and Borough      64583.00
Yalobusha County              37647.00
Yamhill County                58392.00
Yancey County                 37610.00
Yankton County                50029.00
Yates County                  51758.00
Yauco Municipio               14451.00
Yavapai County                48259.00
Yazoo County                  28330.00
Yell County                   39696.00
Yellow Medicine County        54645.00
Yellowstone County            57955.00
Yoakum County                 62500.00
Yolo County                   61621.00
York County                   66093.20
Young County                  46351.00
Yuba County                   51776.00
Yukon-Koyukuk Census Area     37819.00
Yuma County                   43960.50
Zapata County                 34550.00
Zavala County                 25988.00
Ziebach County                35000.00
Name: Income, Length: 1955, dtype: float64

In [8]:
new_data_df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [22]:
round(new_data_df.groupby('State')['Income'].mean(),2)

State
Alabama                 40271.40
Alaska                  66425.45
Arizona                 45816.67
Arkansas                39025.08
California              61046.76
Colorado                54353.56
Connecticut             74496.00
Delaware                61294.67
District of Columbia    77649.00
Florida                 47144.33
Georgia                 43268.79
Hawaii                  68663.00
Idaho                   46171.93
Illinois                52930.38
Indiana                 51877.40
Iowa                    53436.08
Kansas                  50022.57
Kentucky                41470.49
Louisiana               42654.08
Maine                   49680.81
Maryland                72541.17
Massachusetts           71030.71
Michigan                47530.52
Minnesota               57530.00
Mississippi             37018.72
Missouri                44435.30
Montana                 47746.75
Nebraska                51928.35
Nevada                  56859.00
New Hampshire           64901.90
New Jersey              77047.76
New Mexico              41197.21
New York                58309.26
North Carolina          44551.67
North Dakota            59795.96
Ohio                    51742.20
Oklahoma                46219.86
Oregon                  48502.50
Pennsylvania            53281.88
Puerto Rico             18412.95
Rhode Island            69906.40
South Carolina          42126.78
South Dakota            50408.74
Tennessee               43016.61
Texas                   49894.34
Utah                    59208.76
Vermont                 55252.71
Virginia                56270.04
Washington              54112.46
West Virginia           41701.91
Wisconsin               53849.42
Wyoming                 59065.22
Name: Income, dtype: float64